@import './quasar.scss';
@import './mixin.scss';
@import './quasar-variables.scss';

html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

div#app {
  height: 100%;
}

.width100 {
  width: 100%;
}

.width90 {
  width: 90%;
}

.width80 {
  width: 80%;
}

.width70 {
  width: 70%;
}

.sign-in-container {
  width: 400px;
  
  @include mobile {
    width: 80%;
  }
}
