.v-row {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  margin: 0 !important;
}

.v-btn--disabled.v-btn--disabled {
  color: #f9f6f6 !important;
  background: rgb(143, 142, 142) !important;
}
